<div class="main">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of ordersList; index as i" [ngClass]="i%2==0? 'blue':'orange'">
                <td>
                    {{i+1}}
                </td>
                <td>
                    {{order.productName}}
                </td>
                <td>
                    {{order.quantity}}
                </td>
                <td>
                    {{order.orderStatus}}
                </td>
                <td>
                    {{order.orderDate|date:'short'}}
                </td>
                <td>
                    {{order.userId}}
                </td>
            </tr>
        </tbody>
    </table>
</div>