<div class="pos-f-t header bg-dark">
  <h1>CAPSTONE</h1>
  <nav class="navbar navbar-dark bg-dark">
    <button class="btn btn-warning" routerLink="/signup">SIGNUP</button>
    <button class="btn btn-info" routerLink="/login">SIGNIN</button>
  </nav>
</div>
<div class="main">
  <div class="upper">
    <div class="title">
      <h1 clas="title"><span>TRACKING</span> AND MANAGEMENT APP</h1>
    </div>
    <div class="pickup-text">
      <p>Get your order tracked and inventory managed well here.</p>
    </div>
  </div>

  <div class="img">
    <img src="../../../assets/homeitem.svg" alt="">
  </div>
</div>