<div class="main">
    <h1>GUIDE TO THE USER PAGE</h1>
    <div class="guide">
        <ul>
            <li>You can create the orders in order page.</li>
            <li>You can manage your inventory in Inventory page</li>
            <li>You can view and edit your orders in orders page</li>
            <li>You can view notifications in the notification page</li>
            <li>You can add items to the inventory in inventory page</li>
            <li>You can view your profile info and can logout fron profile icon in the top right.</li>
        </ul>
    </div>
</div>