<div class="main">
    <h1>GUIDE TO THE ADMIN PAGE</h1>
    <div class="guide">
        <ul>
            <li>You can view all the orders history in order page.</li>
            <li>You can view all the inventories of users in Inventories page</li>
            <li>You can manage deliveries in Pending deliveries page</li>
            <li>You can manage inventory transfer in transfer inventory page</li>
            <li>You can view your warehouse in warehouse page</li>
            <li>You can view your profile info and can logout fron profile icon in the top right.</li>
        </ul>
    </div>
</div>