<!-- <div class="card">
    <img src="../../../assets/user.png" alt="UserPhoto" class="photo">
    <div>
     <p>Name: {{user.name}}</p>
     <p>UserName: {{user.userName}}</p>
    </div>
    <div>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}}</p>
    </div>
</div> -->

<div class="main">
    <div class="profile">
        <div class="addBtn">
            <button class="btn btn-danger" (click)="onLogout()">Logout</button>
        </div>
        <img src="../../../assets/user.png" alt="UserPhoto" class="photo">
        <div class="inner">
         <p>Name: {{user.name}}</p>
         <p>UserName: {{user.userName}}</p>
        </div>
        <div class="inner">
            <p>Email: {{user.email}}</p>
            <p>Role: {{user.role}}</p>
        </div>
    </div>
</div>
