.profile{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: bisque;
    padding:20px 30px 50px 30px;
    border-radius: 10px;
    /* padding:10px 50px 10px 50px; */
}
p{
    width:300px;
}
.inner{
    display: flex;
    column-gap: 30%;
    justify-content: space-evenly;
}
.photo{
    margin: auto;
    height:150px;
    width: 150px;
    border-radius: 50%;
}

.main{
    min-height: 540px;
    background-image: linear-gradient(rgb(244, 210, 253), rgb(192, 245, 236));
    padding:20px;
}

.addBtn{
    display: flex;
    justify-content: flex-end;
}